OPENAI_API_KEY=
OPENAI_STRUCTURED_MODEL=
OPENAI_TRANSCRIBE_MODEL=
ILYA_EMAIL=kalnit2308@gmail.com
MASHA_EMAIL=
TELEGRAM_BOT_TOKEN=
TELEGRAM_WEBHOOK_SECRET=
TELEGRAM_ILYA_LINK_CODE=
TELEGRAM_MASHA_LINK_CODE=
